li.event.list-group-item
  = link_to event.title, event, class: 'btn btn-link'
  = link_to t('.approve'), approve_admin_moderation_event_path(event), class: 'btn btn-link', method: :post, remote: true
  = link_to t('.decline'), decline_admin_moderation_event_path(event), class: 'btn btn-link', method: :post, remote: true
