li.event.list-group-item
  = link_to event.title, event, class: 'btn btn-link'

  = button_to t('.approve'),
          approve_admin_moderation_event_path(event),
          class: 'btn btn-link',
          method: :post,
          remote: true
          / disabled: event.decline?,
  = button_to t('.decline'),
          decline_admin_moderation_event_path(event),
          class: 'btn btn-link',
          method: :post,
          remote: true
          / disabled: event.approve?,
